@model IEnumerable<OverlayConnectionClient.Models.OverlayNetwork>

@{
    ViewData["Title"] = "Home Page";
}


<form method="post">
    <div class="container p-3">
        <div id="header" class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Overlay Network List</h2>
            </div>
        </div>
        <br />

        @if (Model.Count() > 0)
        {
            <table id="networks" class="table table-borderless table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            VXLAN network identifier
                        </th>
                        <th>
                            Network Id
                        </th>
                        <th>
                            Remote IP address
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var network in Model)
                    {
                        <tr>
                            <td width="25%">@network.VNI</td>
                            <td width="25%">@network.GroupId</td>
                            <td width="25%">
                                @network.RemoteIp
                            </td>
                            <td width="25%">
                                @if (!network.IsConnected())
                                {
                                <div class="w-100 btn-group" role="group">
                                    <button type="submit" asp-controller="Home" asp-action="CreateConnection" asp-route-GroupId="@network.GroupId" class="btn btn-success mx-1">Connect</button>
                                </div>
                                }
                                else
                                {
                                <div class="w-100 btn-group" role="group">
                                    <button type="submit" asp-controller="Home" asp-action="Disconnect" asp-route-GroupId="@network.GroupId" class="btn btn-danger mx-1">Disconnect</button>
                                </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No items created yet</p>
        }
    </div>
</form>


