@model IEnumerable<OverlayManagementClient.Models.OverlayNetwork>


<div class="container p-3">
    <div id="header" class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Overlay Network List</h2>
        </div>
        <div class="col-6 text-right">
            <a id="createNetwork" class="btn btn-primary">Create Network</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table id="networks" class="table table-borderless table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        VXLAN network identifier
                    </th>
                    <th>
                        Network Id
                    </th>
                    <th>
                        Campus
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var network in Model)
                {
                    <tr>
                        <td width="25%">@network.VNI</td>
                        <td width="25%">@network.GroupId</td>
                        <td width="25%">
                            @if (network.OpenVirtualSwitch.Key == "thu")
                            {
                                <p>Technische Hochschule Ulm</p>
                            }
                            else if (network.OpenVirtualSwitch.Key == "hnu")
                            {
                                <p>Hochschule Neu Ulm</p>
                            }
                            else if (network.OpenVirtualSwitch.Key == "tum")
                            {
                                <p>Technische Universität München</p>
                            }
                        </td>
                        <td width="25%">
                            <div class="w-100 btn-group" role="group">
                                <button id="addTarget" class="btn btn-info mx-1">Add Target</button>
                                <button id="networkDetails" class="btn btn-info mx-1">Details</button>
                                <button id="delete" class="btn btn-danger mx-1">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No items created yet</p>
    }
    <div id="createNetworkModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

        </div>
    </div>
    <div id="networkDetailsModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

        </div>
    </div>
    <div id="addTargetModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

        </div>
    </div>
</div>


@section Scripts{

    <script>
        $("#networks").on("click", "#networkDetails", function () {
            var vni = $(this).closest("tr").find("td").eq(0).html().trim();
             $.ajax({
                url: "@Url.Action("NetworkDetails", "Home")",
                 data: { vni: vni },
                 success: function (data) {
                     $("#networkDetailsModal .modal-dialog").addClass("modal-xl").html(data);
                     $("#networkDetailsModal").modal("show");
                }
            });
        });
    </script>

    <script>
         $("#header").on("click", "#createNetwork", function () {
             $.ajax({
                 url: "@Url.Action("Create", "Home")",
                 data: {},
                 success: function (data) {
                     $("#createNetworkModal .modal-dialog").html(data);
                     $("#createNetworkModal").modal("show");
                }
            });
        });
    </script>

    <script>
        $("#networks").on("click", "#delete", function () {
            var groupId = $(this).closest("tr").find("td").eq(1).html().trim();
             $.ajax({
                 url: "@Url.Action("Delete", "Home")",
                 data: { groupId: groupId},
                 success: function (data) {
                     location.reload();
                }
            });
        });
    </script>

    <script>
        $("#networks").on("click", "#addTarget", function () {
            var groupId = $(this).closest("tr").find("td").eq(1).html().trim();
             $.ajax({
                 url: "@Url.Action("CreateTargetDevice", "Home")",
                 data: { groupId: groupId},
                 success: function (data) {
                     $("#addTargetModal .modal-dialog").html(data);
                     $("#addTargetModal").modal("show");
                }
            });
        });
    </script>

    <script>
        $(document).on("change", "#checkboxCommunication,#managementIp", function () {
            if (!$("#checkboxCommunication").is(":checked")) {  //if checkbox not checked
                $("#communicationIp").val("");
                $("#communicationIp").prop('readonly', false);
            } else {
                $("#communicationIp").val($("#managementIp").val());
                $("#communicationIp").prop('readonly', true);
            };
        });
    </script>

}


